.o-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  overflow: auto;
}

.o-menu ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.o-menu ul li a.active {
  background-color: #4CAF50;
  color: white;
}

.o-menu ul li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.o-menu ul.side-nav:not(.responsive) {
  width: 25%;
  height: 100%;
  min-width: 100px;
  position: fixed;
}

.o-menu ul.top-nav:not(.responsive) {
  width:100%;
  height:auto;
  position:relative;
}

.o-menu ul.top-nav:not(.responsive) li a {
  float: left;
  padding: 15px;
}

.o-menu ul.mobile-nav:not(.responsive) li a {
  text-align: center;
  float: none;
}

.o-menu ul.side-nav.responsive {
  width: 25%;
  min-width: 100px;
  height: 100%;
  position: fixed;
}

@media screen and (max-width: 1050px){
  .o-menu ul.top-nav.responsive {
    width:100%;
    height:auto;
    position:relative;
  }
  .o-menu ul.top-nav.responsive li a {
    float: left;
    padding: 15px;
  }
}

@media screen and (max-width: 400px){
  .o-menu ul.mobile-nav.responsive {
    height: auto;
    width: 100%;
  }
  .o-menu ul.mobile-nav.responsive li a {
    text-align: center;
    float: none;
  }
}
